[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/vjousse/symfony-1.4.git
[submodule "plugins/sfCKEditorPlugin"]
	path = plugins/sfCKEditorPlugin
	url = git://github.com/weaverryan/sfCKEditorPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = https://github.com/nerium/sfDoctrineGuardPlugin.git
