[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/vjousse/symfony-1.4.git
[submodule "plugins/sfCKEditorPlugin"]
	path = plugins/sfCKEditorPlugin
	url = git://github.com/weaverryan/sfCKEditorPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = git://github.com/davidsblom/sfDoctrineGuardPlugin.git
[submodule "plugins/dakEventsPlugin"]
	path = plugins/dakEventsPlugin
	url = git://github.com/eoma/dakEventsPlugin.git
[submodule "plugins/sfImageTransformPlugin"]
	path = plugins/sfImageTransformPlugin
	url = git://github.com/diem-project/sfImageTransformPlugin.git
[submodule "plugins/sfImageTransformExtraPlugin"]
	path = plugins/sfImageTransformExtraPlugin
	url = git://github.com/caefer/sfImageTransformExtraPlugin.git
[submodule "plugins/sfDoctrineActAsTaggablePlugin"]
	path = plugins/sfDoctrineActAsTaggablePlugin
	url = git://github.com/annismckenzie/sfDoctrineActAsTaggablePlugin.git
